---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Blue from '../components/BlueParagraph.astro';
import References from '../components/References.astro';
import Services from '../components/Services.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Afore Consulting AS">
  <main>
    <Hero />
    <Blue />
    <References />
    <Services />
    <Contact />
  </main>
</Layout>

<style></style>
