---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Blue from '../components/BlueParagraph.astro';
import References from '../components/References.astro';
---

<Layout title="Afore Consulting AS">
  <main>
    <Hero />
    <Blue />
    <References />
  </main>
</Layout>

<style></style>
