---

---

<section class="blue" id="blue">
  <p>
    IT project with significant change implications? Impossible deadlines? Want
    the real thing? Afore Consulting gives you access to senior competence not
    only in the sales meetings, but every day at your location throughout the
    whole project lifecycle!
  </p>
</section>
<style>
  .blue {
    background-color: var(--logo-blue-color);
    color: white;
    padding: 6rem 2rem;
  }

  p {
    font-weight: 600;
    line-height: 1.8;
    max-width: 65ch;
    letter-spacing: 0.6px;
    margin-inline: auto;
  }

  @media screen and (min-width: 400px) {
    p {
      font-size: 1.4rem;
    }
  }
</style>
