---
import '@fontsource-variable/raleway';
import '@fontsource-variable/inter';
import Footer from '../components/Footer.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={title} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="keywords"
      content="Afore Consulting AS, Norwegian Consulting Company, Afore, Consulting, Company, Norway, Norwegian, IT, Technology, Business, Development, Software, Solutions, Services, Digital, Transformation, Innovation, Strategy, Management, Consulting, Consultancy, Consult, Consultation, Consultations, Consultancies, Consultancies"
    />
    <meta name="robots" content="index, follow" />
    <meta property="og:locale" content="en_US" />
    <meta charset="utf-8" />
    <meta property="og:site_name" content="Afore Consulting AS" />
    <meta
      property="og:title"
      content="Afore Consulting AS, Norwegian Consulting Company"
    />
    <meta
      property="og:description"
      content="Afore Consulting AS, Norwegian Consulting Company"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://aforeconsulting.com" />
    <meta
      property="og:image"
      content="https://aforeconsulting.com/image003.png"
    />
    <meta property="og:image:alt" content="Afore Consulting AS logo" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="625" />
    <meta property="og:image:height" content="308" />
    <meta property="og:locale" content="en_US" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --logo-blue-color: hsl(223, 91%, 22%);
    --logo-blue-hover-color: hsl(223, 50%, 41%);
    --logo-yellow-color: hsl(56, 100%, 50%);
    --logo-yellow-svg-color: #f6d412;
    --logo-gray-color: hsl(220, 1.68%, 35.1%);
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: 'Raleway Variable', sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  *::before,
  *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  #root,
  #__next {
    isolation: isolate;
  }
  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
</style>
